/*************인터레스트 버블 존***************/
.full-container {
	position: relative;
	display: flex;
	width: 100%;
	height: 700px;
	overflow: visible;
	justify-content: center;
	margin-top: 120px;
}

.interest-section {
	transition: all 0.5s ease;
	width: 800px;
}

.bubble-chart {
	width: 800px;
	height: 600px;
	transition: transform 0.3s ease;
	position: relative;
	z-index: 1;
}

.interest-section.with-box .bubble-chart {
	transform: translate(-250px);
}

.bubble-chart svg {
	width: 100%;
	height: 100%;
	display: block;
	overflow: visible;
}

.about-wrapper {
	position: relative;
	width: 0;
	overflow: visible;
}

.about-wrapper.show {
	width: 500px;
}

.about_keyword {
	position: absolute;
	top: 0;
	right: 4%;
	width: 800px;
	height: 600px;
	background: #333;
	transform: translate(100%);
	opacity: 0;
	transition: transform 0.3s ease, opacity 0.3s ease;
	box-shadow: -4px 0 20px #000000a6;
	z-index: 10;
	color: #fff;
	border-radius: 10px 0 0 10px;
}

.about_keyword.show {
	opacity: 1;
	transform: translate(0);
}

.custom-description h2 {
	font-size: 1.5rem;
}

.custom-description img {
	width: 100%;
	border-radius: 0;
	margin-bottom: 1rem;
	height: 300px;
	margin-top: 4px;
}

.custom-description p {
	font-size: 1rem;
	line-height: 1.6;
	padding: 0 1.5rem;
}

.custom-close-btn {
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0.75rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-radius: 50%;
	transition: background 0.3s ease;
	position: absolute;
	left: 1rem;
}

.custom-close-btn:hover {
	background: #333;
}

.close-icon {
	width: 24px;
	height: 24px;
	stroke: #fff;
	stroke-width: 2;
	stroke-linecap: round;
	transition: transform 0.3s ease, stroke 0.3s ease;
}

.custom-close-btn:hover .close-icon {
	transform: rotate(90deg);
	stroke: #ff4d4f;
}

.thumbnail-container {
	margin-top: 20px;
}

.thumbnail-wrapper {
	padding: 5px;
}

.thumbnail {
	width: 100%;
	height: 100px;
	-o-object-fit: cover;
	object-fit: cover;
	cursor: pointer;
	border-radius: 8px;
	transition: transform 0.3s;
}

.thumbnail:hover {
	transform: scale(1.05);
}

.slider-popup {
	margin-top: 20px;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000b3;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
}

.modal-content {
	background: #fff;
	padding: 20px;
	border-radius: 12px;
	position: relative;
	width: 80%;
	max-width: 800px;
}

.modal-close {
	position: absolute;
	top: 10px;
	right: 15px;
	background: none;
	border: none;
	font-size: 20px;
	cursor: pointer;
}

@media (max-width: 768px) {
	.full-container {
		margin-top: 10px;
	}

	.about_keyword {
		width: 100%;
		right: 0;
	}

	.thumbnail-wrapper {}

	.custom-description img {
		object-fit: cover;

	}
}