.section {
	text-align: center;
	font-size: 4rem;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
}

.one {
	background: #1bb1a5;
}
.two {
	background: #94c356;
}
.three {
	background: #e3aa59;
}
.four {
	background: #777;
}

.char {
	display: inline-block;
	animation-delay: calc(0.25s + var(--char-index) * 0.1s);
	transition: all 0.25s calc(0.25s + var(--char-index) * 0.1s);
	backface-visibility: hidden;
	transform-style: preserve-3d;
	will-change: transform, opacity;
	font-family: 'Lato', sans-serif;
}

.text--folding [data-scroll='out'] .char {
	transform: rotateX(90deg);
	transform-origin: bottom;
}

.text--bubbling .char {
	transition-timing-function: cubic-bezier(0.75, -2, 0.75, 2);
	transition-delay: calc(var(--char-index) * 0.1s);
}
.text--bubbling [data-scroll='out'] .char {
	transform: scale(0.5);
	opacity: 0.6;
}

.text--rolling .char {
	transition: transform 1s, opacity 0.2s;
	transition-delay: calc((var(--char-total) - var(--char-index)) * 0.1s);
}
.text--rolling [data-scroll='out'] .char {
	opacity: 0;
	transform: translate(-500%, 0) scale(0) rotate(-1440deg);
}

.text--swinging .char {
	transform-origin: calc((var(--char-total) - var(--char-index)) * 100%) -100%;
	transition-delay: calc((var(--char-total) - var(--char-index)) * 0.1s);
}
.text--swinging [data-scroll='out'] .char {
	opacity: 0;
	transform: rotate(90deg);
}

.text--swap-left [data-scroll='in'] .char {
	animation-name: swap-left;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
}
.text--swap-right [data-scroll='in'] .char {
	animation-name: swap-right;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
}

@keyframes swap-left {
	25% {
		transform: translateX(100%) translateY(100%);
	}
	75% {
		transform: translateX(0) translateY(100%);
	}
	100% {
		transform: translateX(0) translateY(0);
	}
}

@keyframes swap-right {
	25% {
		transform: translateX(-100%) translateY(-100%);
	}
	75% {
		transform: translateX(0) translateY(-100%);
	}
	100% {
		transform: translateX(0) translateY(0);
	}
}

.text--blowing .char {
	animation-name: blowing;
	animation-duration: 1s;
	animation-fill-mode: both;
	transform-origin: left bottom;
	animation-delay: calc(var(--char-index) * 0.025s);
}

@keyframes blowing {
	50%,
	60%,
	70% {
		transform: skewX(-35deg);
	}
	55%,
	65%,
	75% {
		transform: skewX(-40deg);
	}
}

.text--scaling [data-scroll='out'] .char {
	transform: scale(0);
}

.text--turning [data-scroll='out'] .char {
	transform: rotateY(90deg);
}

.text--fading [data-scroll='out'] .char {
	opacity: 0;
}

.text--flipping [data-scroll='out'] .char {
	transform: rotateY(180deg);
}

.text--slide .char {
	transition-delay: calc((var(--char-total) - var(--char-index)) * 0.1s);
}
.text--slide [data-scroll='out'] .char {
	opacity: 0;
	transform: translate(-300%, 0) skewX(20deg);
}

.text--zipping .char {
	transition: transform 0.25s calc(0.25s + var(--char-index) * 0.1s), opacity 0.05s calc(0.25s + var(--char-index) * 0.1s);
}
.text--zipping [data-scroll='out'] .char {
	opacity: 0;
}
.text--zipping [data-scroll='out'] .char:nth-of-type(odd) {
	transform: translate(0, -100%);
}
.text--zipping [data-scroll='out'] .char:nth-of-type(even) {
	transform: translate(0, 100%);
}

.text--spinning [data-scroll='out'] .char {
	transform: rotateY(-360deg);
}

.text--meeting .char {
	transition-delay: calc((var(--char-total) - var(--char-index)) * 0.1s);
}
.text--meeting .char:nth-of-type(even) {
	transform-origin: top right;
}
.text--meeting .char:nth-of-type(odd) {
	transform-origin: bottom left;
}
.text--meeting [data-scroll='out'] .char {
	transform: rotate(180deg);
}
