.site-header {
	background-color: #fff;
	padding: 16px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	height: 60px;
}

.nav {
	margin: 0 auto;
	max-width: 1800px;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
}


.nav .nav-links {
	display: flex;
	gap: 20px;
	list-style: none;
	padding: 0;
	margin: 0;
	align-items: center;
}


.hamburger {
	display: none;
}


.nav li a {
	color: #000;
	text-decoration: none;
	font-weight: 700;
}

.nav li a:hover {
	text-decoration: underline;
}

.mobile-menu {
	opacity: 0;
	visibility: hidden;
	transform: translateX(-100%);
	transition: all 0.4s ease;
}

.mobile-menu.open {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #fff;
	z-index: 999;
	padding-top: 80px;
	transform: translateX(0);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 1;
	visibility: visible;
}

.mobile-menu-links {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

.mobile-menu-links li {
	margin: 1rem 0;
}

.mobile-menu-links a {
	font-size: 1.2rem;
	font-weight: bold;
	color: #000;
	text-decoration: none;
}

/* 닫기 버튼 */
.close-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 28px;
	background: none;
	border: none;
	cursor: pointer;
}

.search-bar {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	max-width: 300px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	right: 0;
	position: absolute;
}

.search-bar input {
	height: 2em;
	width: 0;
	padding: 0 2.5em 0 0.75em;
	border: 1px solid #ccc;
	opacity: 0;
	background: transparent;
	color: #333;
	font-size: 0.9rem;
	border-radius: 2em 0 0 2em;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: right center;
	-ms-transform-origin: right center;
	transform-origin: right center;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	overflow: hidden;
	position: absolute;
	z-index: 9;
	right: 16px;
	outline: none;
	max-width: 170px;
}

.search-bar input:focus,
.search-bar input:not(:placeholder-shown) {
	width: 100%;
	padding: 0 3rem 0 1rem;
	border: 1px solid #ccc;
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	max-width: 170px;
}

.search-btn {
	height: 34px;
	width: 34px;
	background: #ff5722b3;
	color: white;
	border: none;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 1em;
	cursor: pointer;
	position: absolute;
	z-index: 999;
}

.search-btn i {
	margin: 0;
	pointer-events: none;
}

.search-btn span {
	display: none;
}

.search-bar input:focus,
.search-bar input:not(:placeholder-shown) {
	width: 200px;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

/* 다크모드 대응 */
@media (prefers-color-scheme: dark) {}

input[type='search']::-webkit-search-cancel-button {
	display: none;
}

.clear-btn {
	position: absolute;
	right: 42px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background: transparent;
	border: none;
	color: #ccc;
	font-size: 1.2rem;
	cursor: pointer;
	z-index: 999;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	z-index: 999;
}




.clear-btn:hover {
	color: #333;
}

.fp-viewing-intro .site-header {
	background-color: #333;
}

.fp-viewing-intro .site-header .nav li a {
	color: #fff;
}

.fp-viewing-interest .site-header {
	background-color: #fff;
}

.fp-viewing-interest .site-header .nav li a {
	color: #000;
}

.fp-viewing-travel .site-header {
	background-color: #333;
}

.fp-viewing-travel .site-header .nav li a {
	color: #fff;
}


@media (max-width: 768px) {

	.site-header {
		box-sizing: border-box;
		padding: 0;
		;
	}

	.nav {
		margin: 0;
		max-width: 100%;
		justify-content: flex-end;
	}

	.nav .nav-links {
		display: none;
	}

	.hamburger {
		display: block;
		font-size: 24px;
		background: none;
		border: none;
		cursor: pointer;
		margin-left: auto;
		z-index: 998;
		margin: 10px;
	}

	.search-bar {
		display: none;
	}


	.hamburger_mark {
		display: flex;
		flex-direction: column;
		width: 24px;
		height: 24px;
		justify-content: space-around;
		align-items: center;
	}

	.hamburger_mark span {
		display: block;
		width: 100%;
		height: 1px;
		background: #333;
	}

	.close-icon {
		position: relative;
		display: inline-block;
		width: 30px;
		height: 30px;
	}

	.close-icon::before,
	.close-icon::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 30px;
		height: 1px;
		background-color: #333;
		transform-origin: center;
	}


	.close-icon::before {
		transform: translate(-50%, -50%) rotate(45deg);
	}


	.close-icon::after {
		transform: translate(-50%, -50%) rotate(-45deg);
	}

}