/* === 전체 슬라이드 공통 === */
.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 2rem;
    box-sizing: border-box;
    overflow-y: auto;
    font-family: 'Pretendard', sans-serif;
    width: 100%
}

/* === 슬라이드별 배경 색상 구분 === */
.slide--intro {
    background: linear-gradient(to bottom, #e0f7fa, #ffffff);
    color: #333;
}

.intro h2 {
    font-size: 24px;
}

.intro p {
    font-size: 1rem;
}