.project_details {
    padding: 120px 0 100px;
    margin: 0 auto;
    min-height: 680px;
    display: block;
    max-width: 1240px;
}

.bullet {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #ff5722;
    border-radius: 50%;
    margin-right: 8px;
}