.project_details {
    padding: 120px 0 100px;
    margin: 0 auto;
    min-height: 680px;
    display: block;
    max-width: 1240px;
}

.bullet {
    position: relative;
    padding-left: 16px;
}

.bullet::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #ff5722;
    border-radius: 50%;
    margin-right: 8px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}