.subTop {
    position: relative;
    width: 100%;
    height: 300px;
    min-height: 320px;
    /* 파도 이미지가 들어갈 공간 확보 */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* 파도가 넘쳐도 보이도록 */
    background: linear-gradient(to bottom, rgba(255, 87, 34, 0.5), rgba(255, 87, 34, 0.1));
    z-index: 0;
}


/* 텍스트 */
.sub-header-title {
    color: white;
    font-size: 2.8rem;
    font-weight: bold;
    z-index: 2;
    position: relative;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

/* ::before — 상단 곡선 파도 이미지 */
.subTop::before {
    content: '';
    position: absolute;
    top: 180px;
    left: 0;
    width: 300vw;
    height: 96px;
    background-image: url('/img/top_wave.svg');
    background-size: 100vw;
    background-repeat: repeat-x;
    animation: footerwave 13s linear infinite;
    z-index: 1;
}

/* ::after — 하단 곡선 파도 이미지 */


/* 파도 흐름 애니메이션 */
@keyframes footerwave {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100vw);
    }
}


@media (max-width: 1700px) {
    .subTop:after {}

    .subTop:before {}
}

@media (max-width: 1700px) {
    .subTop:after {}

}


@media (max-width: 768px) {
    .sub-header-title {
        font-size: 2rem;
    }

    .subTop {
        min-height: 320px;
    }

    .subTop::before {
        top: 170px;
        /* 적절히 맞춰야 함 */
    }

    .subTop::after {
        bottom: 0;
    }

}