@media (min-width: 768px) {
	.page {
		font-size: 5rem;
	}
}

[data-scroll-container] {
	will-change: transform;
}

.page:nth-child(n) {
	background: #7e05d7;
}
.page:nth-child(2n) {
	background: #f21e56;
}
.page:nth-child(3n) {
	background: #bd04a9;
}

.char {
	display: inline-block;
	animation-delay: calc(0.25s + var(--char-index) * 0.1s);
	transition: all 0.25s calc(0.25s + var(--char-index) * 0.1s);
}
.page:nth-child(1) {
	background-color: #7e05d7;
}

.page:nth-child(2) {
	background-color: #f21e56;
}

.page:nth-child(3) {
	background-color: #bd04a9;
}

.page:nth-child(4) {
	background-color: #0a99b1;
}

/* ✅ 글자 효과 (Splitting + data-scroll 애니메이션) */
.char {
	display: inline-block;
	animation-delay: calc(0.25s + var(--char-index) * 0.1s);
	transition: all 0.25s calc(0.25s + var(--char-index) * 0.1s);
}

.text--enter [data-scroll='out'] .char {
	opacity: 0;
	transform: translateY(-150%);
}

.text--enter .char {
	opacity: 1;
	transform: translateY(0);
}

.text--fading [data-scroll='out'] .char {
	opacity: 0;
}

.text--flipping [data-scroll='out'] .char {
	transform: rotateY(180deg);
}

.text--slide .char {
	transition-delay: calc((var(--char-total) - var(--char-index)) * 0.1s);
}

.text--slide [data-scroll='out'] .char {
	opacity: 0;
	transform: translate(-300%, 0) skewX(20deg);
}

.text--scaling [data-scroll='out'] .char {
	transform: scale(0);
}

.text--turning [data-scroll='out'] .char {
	transform: rotateY(90deg);
}

.text--folding [data-scroll='out'] .char {
	transform: rotateX(90deg);
	transform-origin: bottom;
}

.text--bulge [data-scroll='in'] .char {
	animation-name: bulge;
	animation-duration: 0.25s;
}

@keyframes bulge {
	50% {
		transform: scale(1.5);
	}
}

.text--perspective {
	perspective: 1000px;
}

.text--perspective .char {
	transition: transform 0.25s calc(0.25s + var(--char-index) * 0.1s), opacity 0.05s calc(0.25s + var(--char-index) * 0.1s);
}

.text--perspective [data-scroll='out'] .char {
	opacity: 0;
	transform: translate3d(-25px, -20px, -800px);
}

.text--zipping .char {
	transition: transform 0.25s calc(0.25s + var(--char-index) * 0.1s), opacity 0.05s calc(0.25s + var(--char-index) * 0.1s);
}

.text--zipping [data-scroll='out'] .char {
	opacity: 0;
}

.text--zipping [data-scroll='out'] .char:nth-of-type(odd) {
	transform: translateY(-100%);
}

.text--zipping [data-scroll='out'] .char:nth-of-type(even) {
	transform: translateY(100%);
}

.text--spinning [data-scroll='out'] .char {
	transform: rotateY(-360deg);
}

.text--tumbling .char {
	transition-delay: calc((var(--char-total) - var(--char-index)) * 0.1s);
}

.text--tumbling [data-scroll='out'] .char {
	opacity: 0;
	transform: translate(-300%, -50%) rotate(1080deg) scale(0);
}

.text--blocks [data-scroll='out'] .char {
	visibility: hidden;
}

.text--blocks [data-scroll='in'] {
	overflow: hidden;
	position: relative;
}

.text--blocks [data-scroll='in'] .char {
	transition-delay: 0.5s;
}

.text--blocks [data-scroll='in']::after {
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fff;
	animation: block 0.5s 0.25s both;
}

@keyframes block {
	0% {
		transform: translate(-110%, 0);
	}
	45%,
	55% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(110%, 0);
	}
}
