.section {
	text-align: center;
	font-size: 4rem;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.one {
	background: #1bb1a5;
}
.two {
	background: #94c356;
}
.three {
	background: #e3aa59;
}
.four {
	background: #777;
}
