@media (min-width: 768px) {
	.page {
		font-size: 5rem;
	}
}

[data-scroll-container] {
	height: 100vh;
	scroll-snap-type: y mandatory;
}

.page:nth-child(n) {
	background: #7e05d7;
}
.page:nth-child(2n) {
	background: #f21e56;
}
.page:nth-child(3n) {
	background: #bd04a9;
}

.char {
	display: inline-block;
	animation-delay: calc(0.25s + var(--char-index) * 0.1s);
	transition: all 0.25s calc(0.25s + var(--char-index) * 0.1s);
}
